.widget-container {
	background-color: #ffffff;
 	width: 300px;
border: 1px solid #e8e8e8;
	
	
}

.widget-title {
	font-size: 16pt;
	font-weight:bold;
	font-family: Proxima Nova;
	color: #252525;
	padding:0px 10px;
	border-bottom: 1px solid #e8e8e8;
	background-image:url('https://fbcdn-profile-a.akamaihd.net/hprofile-ak-xfa1/t1.0-1/p48x48/542651_10150710812397641_2004689134_n.jpg');
	background-repeat:no-repeat;
background-position:right center;
background-size: 25px;
}

.leads-container {
	background: #F5F5F5;
	
	
	
}

.results-title {
	font-size: 16pt;

	color: #252525;
}

.results-legend {

	
	font-size: 12pt;
	font-family: Garamond;
	
}

.results-link {
	font-size: 12pt;

	color: #1f53ac;
	text-decoration: underline;
}

.search-input{
	height: 19px;
	font-size: 10pt;
	
	color: #959595;
	margin: 0;
}
.search-button{
	vertical-align:top;
  width: 25px;
  height: 25px;
  border: none;
  background: #454545;
  background-image: url('http://ajsingh273.github.io/widgets/images/searchIcon.png');
  background-size: contain;
  background-position: left;
  background-repeat: no-repeat;
  border-radius: 0 0 0 0;
}

.search-button2{
display: none;
}

.search-button3{

	
  width: 75px;
  height: 25px;
  border: none;
  background: #454545;
color:#fff;
  background-repeat: no-repeat;
  border-radius: 0 0 0 0;
}

.search-button-clear{
	background: darkgrey;
}

.view-calendar-button{
	margin-left: 183px;
	border: 1px solid #959595;
	background: lightgrey;
	font-size: 10pt;
	
}
.widget-container {
    margin: 20px; 

    background:#fff;
    border-radius: 2px;
    padding:0;
    width: 30%;
    
}
.results-container {
    padding: 0 20px;
    overflow:scroll;
    background: #F8F9FA;
    max-height:200px;
}
.form-container {
    
    background: none;
    padding: 0 0px 0px;
    margin:0;
    
    overflow: hidden;
    position: relative;
}

.search-combo {
margin:0px;
padding:0px;
}
.search-input, select {
    border-radius: 3px 0 0 3px;
    border: 5px solid #F5F7F8;
    
    padding: 6px;
    background: #FFF;
    display: inline-block;
    width: 100%;
	max-width: 300px;
	-webkit-appearance:none;
	font-size: 100%;
	margin: 0;
	box-sizing: border-box;
	-moz-box-sizing:border-box;
	height: 33px;
}
.search-combo, .select-input {
    white-space: nowrap;
}
.search-button {
    background-position: center;
    white-space: nowrap;
    top: 4px;
    width: 40px;
    height: 33px;
    padding: 6px;
    border: 1px solid #bbb;
    border-radius: 0 3px 3px 0;
}
.input-with-button {
    display: inline-block;
}
.input-with-button .search-input {
    border-radius: 3px 0 0 3px;
    border-right:none;
    padding-right:1px;
}
#trade-events-calendar{
	padding: 10px 20px;
}
